<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="HomePage.master.cs" Inherits="MyProject.HomePage" %>

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
<h2>ADMIN HOMEPAGE</h2>
            
                <a href="AdminHomePage.aspx">HomePage</a>
           
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                <p>
                    &nbsp;</p>
            </asp:ContentPlaceHolder>
       